
.admin-main-container {
    width: 100%;
    min-height: 100vh;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;

    .admin-main-title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: rgb(44, 44, 45);
    }

    .admin-main-content {
        display: flex;
        flex-direction: column;
        width: 75%;
        min-height: 200px;
        margin: 2rem auto;
        border: 1px solid black;

        .content-header {
            width: 100%;
            height: 27px;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
            background-color: rgb(209, 208, 208);
            color: #3b3a3a;
            border-bottom: 1px solid #161616;

            .header-item {
                padding: 0 0.5rem;

                &:nth-last-child(n+2) {
                    border-right: 1px solid black;
                }
            }

            
        }
    }
}

// Admin User Item

.admin-user-item {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid #161616;

    .user-item {
        padding-left: 1rem;
        color: #161616;
        font-size: 1.2em;
        transform: translateY(10%);
    }

    .user-link {
        color: #161616;
        text-decoration: none;
        font-size: 1.4em;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #865a8a;
        }
    }
}

// Admin User Detail

.admin-user-detail-slide-in {
    transform: translateX(125%);
}

.admin-user-detail-container {
    width: 100%;
    height: 650px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(182, 184, 186);
    position: absolute;
    left: -125%;
    z-index: 100;
    transition: all 0.5s ease-in-out;

    .admin-user-detail-info-wrapper {
        width: 80%;
        height: 70%;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid rgb(156, 155, 155);

        .info-wrapper-title {
            font-size: 2rem;
            font-weight: 700;
            color: rgb(80, 53, 22);
        }

        .info-wrapper-email {
            font-size: 1.2rem;
            color: rgb(14, 50, 112);
        }

        .info-wrapper-role {
            color: rgb(6, 6, 6);
        }

        .info-wrapper-btn {
            width: 150px;
            padding: 2px 24px;
            border-radius: 2px;
            box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
            margin-bottom: 1rem;
            overflow: hidden;
            transition: all 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.04);
                box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
            }
        }
    }

    .admin-user-blogs-wrapper {
        width: 100%;
        padding: 0 0.5rem;
        border-left: 1px solid rgb(156, 155, 155);
        border-right: 1px solid rgb(156, 155, 155);

        .user-blogs-title {
            font-size: 1.5rem;
            font-weight: 700;
            color: rgb(80, 53, 22);
            text-decoration: underline;
        }
    }

    .admin-user-comments-wrapper {
        width: 100%;
        padding: 0 0.5rem;

        .user-comments-title {
            font-size: 1.5rem;
            font-weight: 700;
            color: rgb(80, 53, 22);
            text-decoration: underline;
        }
    }
}

.admin-blog-item-container {
    width: 100%;
    height: 145px;
    padding: 1rem;
    border-bottom: 1px solid rgb(156, 155, 155);

    .blog-item-title {
        font-size: 1.2rem;
        font-weight: 700;
        color: rgb(80, 53, 22);
        margin-bottom: 0.5rem;
    }

    .blog-item-content {
        font-size: 1rem;
        color: rgb(6, 6, 6);
    }

    .blog-item-details {
        text-align: right;
        font-size: 0.8rem;
        color: rgb(6, 6, 6);
    }

    .blog-item-poster {
        font-size: 0.9rem;
        color: rgb(126, 80, 20);
    }

    .blog-item-date {
        font-size: 0.9rem;
        color: rgb(142, 25, 25);
    }
}