
.blog-container {
    width: 100%;

    .blog-header {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #4d030331;
        padding: 1rem 3rem;
        background: linear-gradient(180deg, #262626 0%, #0a0a0a 100%);

        .blog-header-title {
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            color: rgb(35, 123, 153);
        }

        .blog-header-welcome {
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
            text-align: right;
            color: rgb(35, 123, 153);
        }

        .blog-header-subtitle {
            font-size: 1.2em;
            font-weight: bold;
            text-align: right;
            color: rgb(131, 44, 44);
        }

        .blog-header-button {
            width: 125px;
            height: 35px;
            border-radius: 2px;
            background-color: rgb(35, 123, 153);
            color: rgb(250, 250, 231);
        }
    }

    .blog-content {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .blog-main {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            position: relative;
        }

        
    }
}

// Blog Sidebar

.blog-sidebar {
    width: 96%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #26262631 0%, #0a0a0a19 100%);

    .categories-title {
        padding: 1rem 0;
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(35, 123, 153);
    }

    .categories-wrapper {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        .categories-item:last-child {
            margin-bottom: 2rem;
            border-bottom: 1px solid #4d030331;
        }

        .categories-item {
            font-size: 1.1em;
            padding: 0.5rem 0;
            color:rgb(131, 44, 44);
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: rgb(35, 123, 153);
                transform: scale(1.1);
            }
        }
    }

    .socials-title {
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(35, 123, 153);
    }

    .socials-wrapper {
        width: 100%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;

        .socials-item:last-child {
            margin-bottom: 2rem;
            border-bottom: 1px solid #4d030331;
        }

        .socials-item {
            font-size: 1.1em;
            padding: 0.5rem 0;
            color:rgb(44, 131, 119);
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: rgb(35, 123, 153);
                transform: scale(1.1);
            }
        }
    }
}

// Blog Item 

.blog-item-link {
    text-decoration: none;
    width: 60%;
    margin: 1rem 0;
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: brightness(125%);
        transform: scale(1.03);
        box-shadow: inset 0 0 10px #49494a2c;
    }
}

.blog-item {
    width: 100%;
    border-bottom: 1px solid #4d030331;

    .blog-item-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .blog-item-title {
            font-size: 1.6em;
            font-weight: bold;
            color: rgb(35, 123, 153);
        }

        .blog-item-poster {
            font-size: 0.8em;
            font-weight: bold;
            color: rgb(131, 44, 44);
        }
    }

    .blog-item-content {
        font-size: 1.2em;
        color: rgb(9, 9, 9);
    }
}

// Blog Detail 

.blog-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: all 0.5s ease-in-out;

    .blog-detail-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .blog-detail-title {
            font-size: 1.5em;
            font-weight: bold;
            color: rgb(35, 123, 153);
        }

        .blog-detail-poster {
            font-size: 0.9em;
            font-weight: bold;
            color: rgb(131, 44, 44);
        }

        .blog-detail-subtitle {
            font-size: 1.2em;
            color: rgb(3, 3, 3);
        }
    }

    .blog-detail-content {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 1px solid #4d030331;
        border-radius: 2px;
        background: linear-gradient(180deg, #26262631 0%, #0a0a0a19 100%);
    }
}

// Blog Form

.blog-form-container-active {
    transform: translateY(700px);
}

.blog-form-container {
    width: 90%;
    top: -700px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 6px;
    border-bottom: 1px solid #4d030331;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(44deg, #2c2f39f8 0%, #233d2ef9 100%);
    color: rgb(234, 239, 227);

    .blog-form-title {
        font-size: 2em;
        font-weight: bold;
        color: rgb(189, 219, 228);
    }

    .blog-form-button {
        width: 20%;
        background-color: rgb(234, 239, 227);
        color: #121212;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #121212;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: rgb(189, 219, 228);
            box-shadow: 4px 4px 4px #121212;
            transform: scale(1.06);
        }
    }
}


    