
.blog-navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;

    .blog-navigation-header {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        border-bottom: 1px solid #4d030331;

        .blog-nav-user {
            font-size: 1.1em;
            font-weight: bold;
            text-align: right;
            color: red;
        }
    }

    .blog-navigation-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;

        
    }

    .blog-navigation-auth-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 1rem;
        border-top: 1px solid #4d030331;
    }

    .blog-link {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: rgb(6, 65, 6);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: rgba(122, 159, 199, 0.948);
            transform: scale(1.1);
        }
    }

    .link-active {
        color:rgba(40, 64, 91, 0.948);
        transform: scale(1.1);
    }
}

.blog-login-form-container {
    width: 200px;
    height: 200px;
    left: -550px;
    background-color: rgb(146, 227, 140);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    padding: 1rem;
    transition: all 0.6s ease-in-out;

    .blog-login-form-header {
        width: 100%;

        .login-form-title {
            font-size: 1.1em;
            font-weight: bold;
            text-align: right;
            text-decoration: underline;
            color: rgb(19, 61, 87);
        }
    }
}

.blog-login-form-container-active {
    transform: translateX(755px);
}