@import 'blog-navigation';

@import 'blog';

.blog-layout {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: white;
    color: black;
}