
.comments-container {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    color: #121212;

    .comments-left-column {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .comments-form-wrapper {
            width: 100%;
            position: relative;
        }
    }

    .comments-right-column {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .comments-list-title {
            width: 60%;
            font-size: 2.2em;
            color: grey;
            padding-bottom: 1rem;
            margin: 1rem auto;
            border-bottom: 1px solid grey;
        }

        .comments-index-wrapper {
            width: 100%;
            margin-top: 2rem;
            border-left: 1px solid grey;
        }
    }
}

// Fake Post

.fake-post-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .fake-post-left-column {
        width: 90%;
        margin: 1rem auto;

        .fake-post-title {
            font-size: 1.5em;
            color: rgb(48, 91, 135);
            text-decoration: none;
        }

        .fake-post-details {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;

            .fake-post-detail {
                font-size: 0.8em;
                color: black;
            }

            .fake-post-category {
                font-size: 1em;
                color: rgb(104, 110, 43);
            }

            .fake-post-date {
                font-size: 1em;
                color: rgb(48, 91, 135);
            }

            .fake-post-poster {
                font-size: 1em;
                color: rgb(101, 32, 32);
            }
        }
    }

    .fake-post-right-column {
        width: 90%;
        margin: 0 auto;
        margin-top: 4rem;
    }
}

// Comment Form

.comments-form {
    width: 94%;

    .comments-form-message {
        font-size: 0.9em;
        text-align: right;
        align-items: center;
        color: grey;
        margin-top: 0.5rem;
    }

    .comments-form-btn {
        width: 125px;
        height: 35px;
        padding: 2px 0;
        border-radius: 3px;
        background-color: rgb(48, 91, 135);
        color: white;
        box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.36);
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
            transform: scale(1.03);
            box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.441);
        }
    }
}

.submit-action-div {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: rgb(48, 91, 135);
    border-radius: 9px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.36);
}

.submit-action-div-animation {
    animation: submit-action-div-animation 1.5s ease-in-out;
}

@keyframes submit-action-div-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }
    60% {
        transform: translateY(-90px);
        width: 26px;
        height: 26px;
        border-radius: 13px;
        box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.36);
    }
    100% {
        transform: translateY(-600px) translateX(800px);
        width: 44px;
        height: 44px;
        border-radius: 22px;
        box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.36);
    }
}
// Comment Item

.this-comment-item-container {
    width: 85%;
    min-height: 80px;
    margin: 0.25rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    background-color: white;

    .this-comment-item-content {
        padding: 0.5rem;
        color: black;
    }

    .this-comment-item-details {
        text-align: right;
        font-size: 0.8em;
        color: grey;
        margin-right: 0.5rem;
        margin-bottom: -0.1rem;
    }

    .this-item-date {
        font-size: 0.9em;
        color: red;
    }

    .this-item-poster {
        font-size: 0.9em;
        color: rgb(48, 91, 135);
    }
}