
.drum-machine-container {
    min-height: calc(100vh - 50px);
    padding: 20px 40px;
    background-image: url('../assets/images/space-main1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        color: #FFFFFF;
        border-bottom: 1px solid #FFBA08;
    }

    .drum-machine-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .drum-wrapper {
            min-height: calc(100vh - 200px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .display-wrapper {
            min-height: calc(100vh - 200px);
            margin-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.display {
    width: 100%;
    min-height: 350px;
    background-color: #d9d9d9e2;
    color: #353535;
    padding: 5px 20px;
    font-size: 1.6em;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.653);

    .dis-info {
        font-size: 0.8em;
        color:rgba(0, 0, 0, 0.2);
        text-decoration: underline;
    }
}

.actions {
    margin-top: 20px;
    width: 75%;
    display: flex;
    justify-content: space-around;

    .action-btn {
        width: 40%;
        padding: 4px 12px;
        border-radius: 4px;
        color: #D9D9D9;
        background-color: #370617;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.653);
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.65;
        }
    }
}

.drums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .pad {
        border: 1px solid #03071E;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 130px;
        font-size: 2em;
        border-radius: 4px;
        color: #FFBA08;
        background-color: #ffb9080f;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.653);
        transition: all 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            border: 1px solid #FFBA08;
        }
    }
}

.playing {
    border-color: #FFBA08;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px #FFBA08;
}