
.markdown-container {
    width: 80%;
    min-height: calc(100vh - 55px);
    margin: 12px auto;
    display: flex;
    background: linear-gradient(45deg, #959393, #bec4c2, #959393);

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #161616;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }

    p {
        text-align: center;
        color: #495e5f;
        text-decoration: underline;
    }

    .markdown-textarea {
        width: 100%;
        min-height: 97%;
        padding: 20px;
        border: none;
        background-color: rgb(206, 226, 221);
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5);
        color: #161616;
        font-size: 1.1rem;
        resize: none;
        outline: none;
    }

    .markdown-preview {
        min-height: 80%;
        padding: 20px;
        border: none;
        background-color: rgb(206, 226, 221);
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.5);
        color: #413e3e;
        font-size: 1.1rem;
        resize: none;
        outline: none;
    }
}