
.pomodoro-clock-container {
    width: 90%;
    min-height: calc(100vh - 45px);
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(151, 64, 139);

    .main-display {
        width: 100%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .main-time {
            font-size: 140px;
            color: white;
            font-weight: bold;
            text-shadow: 3px 3px 3px #000;
        }
    }

    .controls {
        width: 100%;
        min-height: 350px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

.side-control {
    display: flex;
    flex-direction: column;
    color: #ccc;
    font-size: 1.4em;
}

.side-time {
    font-size: 3em;
    padding: 5px;
    font-weight: bold;
}

.side-control-buttons {
    display: flex;
    flex-direction: row;

    .side-control-button {
        width: 5rem;
        padding: 5px;
        background-color: rgb(15, 43, 103);
        color: white;
        border-radius: 8px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.break {
    align-items: flex-end;
}

.session {
    align-items: flex-start;
}

.display-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    font-size: 1.5em;
}

.play-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    .button-base {
        padding: 5px;
        background-color: blue;
        color: white;
        border-radius: 3px;
        font-size: 1.2em;

        &:hover {
            opacity: 0.8;
        }
    }

    .play {
        width: 30%;
    }

    .pause {
        width: 20%;
    }

    .reset {
        width: 20%;
    }
}

.switch-buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    .switch-button {
        width: 30%;
        padding: 5px;
    }
}