@import 'home';
@import 'calculator';
@import 'quote';
@import 'drum-machine';
@import 'pomodoro';
@import 'markdown';

body {
    min-height: 100vh;
    width: 100%;
    background-color: #121212;
    color: #fff;
}